div.wrapper-grid {
  max-width: $max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 550px 600px 1550px 1.3fr 50px;
}

@media screen and (min-width: 768px) {
  div.wrapper-grid {
    grid-template-rows: 550px 600px 950px 1.3fr 50px;
  }
}
@media screen and (min-width: 300px) {
  div.wrapper-grid {
    grid-template-rows: 550px 700px 950px 1.3fr 50px;
  }
}
